/* Import of categories */
/* -------------------------------------------------------------------------- */
/*                          B A S E    C A T E G O RY                         */
/* -------------------------------------------------------------------------- */
*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  padding: 0;
  margin: 0 auto;
  background-color: #fff;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* -------------------------------------------------------------------------- */
/*                        L A Y O U T    C A T E G O RY                       */
/* -------------------------------------------------------------------------- */
/* import utilities file */
.l-nav-container {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  top: 0;
  left: 0;
  height: auto;
  /* nav menu */
}

.l-nav-container .l-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  /* nav items */
}

@media screen and (min-width: 31.25rem) {
  .l-nav-container .l-nav-menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.l-nav-container .l-nav-menu .l-nav-link {
  padding: 1.25rem;
}

/* FIRST SECTION (HERO BANNER)*/
.l-first-section {
  /* function to convert px to rem */
  margin-top: 3.75rem;
  height: 90vh;
  text-align: center;
  padding-top: 20vh;
}

.l-section-divider {
  margin: 0;
  padding: 0;
}

/* SECOND SECTION (PROJECT GRID) */
.l-second-section {
  padding-top: 1.875rem;
  /* grid of articles of the 2nd section */
}

.l-second-section .l-second-section-title {
  text-align: center;
}

.l-second-section .l-article-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3.4375rem 0.3125rem;
}

@media screen and (min-width: 45rem) {
  .l-second-section .l-article-grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 112.5rem;
  }
}

.l-second-section .l-card {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 45rem) {
  .l-second-section .l-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    max-width: 24.375rem;
    margin: 1.25rem 0.3125rem;
  }
}

.l-second-section .l-anchor-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-second-section .l-anchor-grid .l-card-img {
  /* super important property for responsive imgs to fit its container */
  max-width: 100%;
  min-height: 20.0625rem;
  max-height: 20.0625rem;
}

.l-second-section .l-anchor-grid .l-card-caption {
  max-width: 100%;
  text-align: center;
  padding: 1.25rem;
  margin: 0;
}

/* THIRD SECTION (CTA AND SOCIAL) */
.l-third-section .l-cta {
  padding: 3.125rem;
  text-align: center;
}

.l-third-section .l-social .l-social-grid {
  padding: 0rem 2.5rem 2.5rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.l-second-section-divider {
  margin: auto;
  padding: 0;
  border: 2px solid #f54291;
}

.l-footer {
  text-align: center;
  padding: 1.25rem 2.5rem 0.625rem 2.5rem;
}

/* -------------------------------------------------------------------------- */
/*                       M O D U L E S  C A T E G O R Y                       */
/* -------------------------------------------------------------------------- */
/* nav container */
.nav-container {
  background-color: #f54291;
  border-bottom: 2px solid #5f5f5f;
}

.nav-container .nav-link {
  text-decoration: none;
  color: #fff5ee;
  font-size: 1.25rem;
}

.first-section {
  background-color: #0a97b0;
}

.first-section h1 {
  font-size: 3.125rem;
  padding: 0px 2.5rem;
}

.first-section h2 {
  color: #fff5ee;
  font-weight: lighter;
  font-size: 1.5625rem;
}

.section-divider {
  margin: auto;
  margin-top: 0px;
  width: 80%;
}

.second-section {
  background-color: #4bc2b2;
}

.second-section a {
  text-decoration: none;
}

.second-section h2 {
  color: #fff5ee;
}

.second-section .card {
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 3px 0px black;
          box-shadow: 0px 0px 3px 0px black;
}

.second-section .card .card-caption {
  background-color: #fff5ee;
  color: #fff5ee;
  background: #303841;
}

.third-section {
  background-color: #0a97b0;
}

.third-section .cta h1 {
  font-size: 2.5rem;
  text-align: start;
  padding: 0rem 0rem 0rem 1.875rem;
  color: #fff5ee;
}

.third-section .cta h4 {
  font-weight: lighter;
  color: #fff5ee;
}

@media screen and (min-width: 45rem) {
  .third-section .cta h1 {
    text-align: center;
  }
}

.third-section .social ul {
  list-style-type: none;
}

.third-section .social ul li a {
  color: #fff5ee;
  text-decoration: none;
  font-size: 1.4375rem;
  padding: 1.25rem;
}

.third-section .social ul li a i {
  font-size: 1.25rem;
  padding: 0.625rem 0.3125rem;
}

.footer {
  background-color: #0a97b0;
}

.footer h4 {
  color: white;
  font-weight: lighter;
}
/*# sourceMappingURL=app.css.map */