/* -------------------------------------------------------------------------- */
/*                          B A S E    C A T E G O RY                         */
/* -------------------------------------------------------------------------- */

@import '../4-utilities/utilities';
*,
:after,
:before {
	box-sizing: border-box;
}

html {
	font-size: 1rem;
}

body {
	padding: 0;
	margin: 0 auto;
	background-color: #fff;
	max-width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}
