/* -------------------------------------------------------------------------- */
/*                        L A Y O U T    C A T E G O RY                       */
/* -------------------------------------------------------------------------- */

/* import utilities file */

@import '../4-utilities/utilities';
.l-nav-container {
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 1;
	top: 0;
	left: 0;
	/* nav menu */
	.l-nav-menu {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 0;
		margin: 0;
		/* nav items */
		.l-nav-link {
			padding: toRem(20px);
		}
	}
}

.l-first-section {
	/* function to convert px to rem */
	margin-top: toRem(70px);
}
