/* -------------------------------------------------------------------------- */
/*                        L A Y O U T    C A T E G O RY                       */
/* -------------------------------------------------------------------------- */

/* import utilities file */

@import '../4-utilities/utilities';

.l-nav-container {
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 1;
	top: 0;
	left: 0;
	height: auto;
	/* nav menu */
	.l-nav-menu {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 0;
		margin: 0;
		@media screen and(min-width: toRem(500px)) {
			justify-content: end;
		}
		/* nav items */
		.l-nav-link {
			padding: toRem(20px);
		}
	}
}

/* FIRST SECTION (HERO BANNER)*/

.l-first-section {
	/* function to convert px to rem */
	margin-top: toRem(60px);
	height: 90vh;
	text-align: center;
	padding-top: 20vh;
}

.l-section-divider {
	margin: 0;
	padding: 0;
}

/* SECOND SECTION (PROJECT GRID) */

.l-second-section {
	padding-top: toRem(30px);

	.l-second-section-title {
		text-align: center;
	}
	/* grid of articles of the 2nd section */
	.l-article-grid {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: toRem(55px) toRem(5px);
	}
	@media screen and (min-width: toRem(720px)) {
		.l-article-grid {
			flex-flow: row wrap;
			justify-content: space-around;
			max-width: toRem(1800px);
		}
	}

	.l-card {
		margin-bottom: toRem(20px);
	}

	@media screen and (min-width: toRem(720px)) {
		.l-card {
			flex: 1 1 50%;
			max-width: toRem(390px);
			margin: toRem(20px) toRem(5px);
		}
	}

	.l-anchor-grid {
		display: flex;
		flex-direction: column;

		.l-card-img {
			/* super important property for responsive imgs to fit its container */
			max-width: 100%;
			min-height: toRem(321px);
			max-height: toRem(321px);
		}

		.l-card-caption {
			max-width: 100%;
			text-align: center;
			padding: toRem(20px);
			margin: 0;
		}
	}
}

/* THIRD SECTION (CTA AND SOCIAL) */

.l-third-section {
	.l-cta {
		padding: toRem(50px);
		text-align: center;
	}

	.l-social {
		.l-social-grid {
			padding: toRem(0px) toRem(40px) toRem(40px) toRem(40px);
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0;
		}
	}
}

.l-second-section-divider {
	margin: auto;
	padding: 0;
	border: 2px solid $secondary-color;
}

.l-footer {
	text-align: center;
	padding: toRem(20px) toRem(40px) toRem(10px) toRem(40px);
}
