/* -------------------------------------------------------------------------- */
/*                       M O D U L E S  C A T E G O R Y                       */
/* -------------------------------------------------------------------------- */

@import '../4-utilities/utilities';

/* nav container */

.nav-container {
	background-color: $secondary-color;
	border-bottom: 2px solid rgb(95, 95, 95);
	.nav-link {
		text-decoration: none;
		color: $primary-color;
		font-size: toRem(20px);
	}
}

.first-section {
	background-color: #0a97b0;
	h1 {
		font-size: toRem(50px);
		padding: 0px toRem(40px);
	}

	h2 {
		color: $primary-color;
		font-weight: lighter;
		font-size: toRem(25px);
	}
}

.section-divider {
	margin: auto;
	margin-top: 0px;
	width: 80%;
}

.second-section {
	a {
		text-decoration: none;
	}
	background-color: #4bc2b2;
	h2 {
		color: $primary-color;
	}
	.card {
		border-radius: 2px;
		box-shadow: 0px 0px 3px 0px black;

		.card-caption {
			background-color: $primary-color;
			color: $primary-color;
			background: #303841;
		}
	}
}

.third-section {
	background-color: #0a97b0;
	.cta {
		h1 {
			font-size: toRem(40px);
			text-align: start;
			padding: toRem(0px) toRem(0px) toRem(0px) toRem(30px);
			color: $primary-color;
		}

		h4 {
			font-weight: lighter;
			color: $primary-color;
		}

		@media screen and (min-width: toRem(720px)) {
			h1 {
				text-align: center;
			}
		}
	}

	.social {
		ul {
			list-style-type: none;
			li {
				a {
					color: $primary-color;
					text-decoration: none;
					font-size: toRem(23px);
					padding: toRem(20px);

					i {
						font-size: toRem(20px);
						padding: toRem(10px) toRem(5px);
					}
				}
			}
		}
	}
}

.footer {
	background-color: $quaternary-color;
	h4 {
		color: white;
		font-weight: lighter;
	}
}
